{
  "branches": ["main", "develop"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "ci": true,
  "npmPublish": true,
  "publish": [
    {
      "path": "@semantic-release/npm",
      "npmPublish": true
    },
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "dist/*.tar.gz",
          "label": "Python Package"
        },
        {
          "path": "dist/*.whl",
          "label": "Python Wheel"
        }
      ]
    }
  ]
}